<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyChat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
</head>
<body align="center">
    <h2 style="font-family: comic sans ms;"><i style="color:teal">py</i><b style="color:gold">Chat</b></h2>

    <div id="usernameContainer">
        <input type="text" id="usernameInput" placeholder="Enter your name" required>
        <button onclick="setUsername()">Join Chat</button>
    </div>

    <div id="chatContainer" style="display:none;">
        <ul id="messages" style="list-style: none; padding: 0; margin-bottom: 60px; height: 400px; overflow-y: scroll;" align="left"></ul>

        <div class="input-container">
            <input id="messageInput" autocomplete="off" placeholder="Type a message" />
            <input type="file" id="fileInput" style="display:none;" accept="image/*,video/*,audio/*" />
            <i class="material-icons" onclick="toggleFileInput()" style="cursor: pointer;">attach_file</i>
            <i class="material-icons" onclick="sendMessage()" style="cursor: pointer;">send</i>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
